html, body { margin: 0; padding: 0; }
/*button*/
.button {
  background-color: yellow;
  border: 1px solid black;
  color: black;
  padding: 20px 100px;
  text-align: center;
  font-size: 20px;
    font-weight: bold;
    cursor: default !important;
        
        border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 330px;
 
  
  
}

.button:hover {
  background-color: rgba(255,255,0,0.2);
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  cursor: default;
}
.button:focus
{
  outline: none;
}



.ravno
{
  margin-bottom: 15px;
}

/*button*/
.button2 {
  background-color: yellow;
  border: 1px solid black;
  color: black;
  padding: 10px 100px;
  text-align: center;
  font-size: 20px;
    font-weight: bold;
        
        border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 5px;

 
  
  
}

.button2:hover {
  background-color: rgba(255,255,0,0.2);
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  cursor: default;
}

.button2:focus
{
  outline: none;
}


/*button*/
.button3 {
  background-color: yellow;
  border: 1px solid black;
  color: black;
  padding: 20px 100px;
  text-align: center;
  font-size: 30px;
    font-weight: bold;
        
        border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 400px;
 
  
  
}

.button3:hover {
  background-color: rgba(255,255,0,0.2);
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  cursor: default;
}
.button3:focus
{
  outline: none;
}

#demo
{
  text-align: center;
  font-size: 200%;
  
  
}

.b1
{
  background-color: yellow;
  border: 1px solid black;
  color: black;
  padding: 20px 100px;
  text-align: center;
  font-size: 20px;
    font-weight: bold;
   
        
        border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 400px;
}

.b1:focus
{
  outline: none;
}
#odgovori
{
 vertical-align: middle;
  padding: 70px 0;
  text-align: center;
margin-top:200px;
}




.ravno
{
	text-align:center;

	
}
.text123
{
font-size: 50px;
}
